/* src/index.css */
@import "tailwindcss";

@theme {
  --color-primary: #064e3b; /* Vert profond */
  --color-secondary: #10b981; /* Vert émeraude */
  --color-accent: #f59e0b; /* Ambre/Or */
}

body {
  @apply bg-slate-50 text-slate-900 font-sans antialiased;
}

.glass-card {
  @apply bg-white/80 backdrop-blur-md border border-white/20 shadow-xl;
}